.head {
  background-image: url("../img/about-team-heo-background.png");
  background-size: cover;
}

.head div {
  padding: 32px;
}

.head h1 {
  margin: 0;
}

section#whoAreWe {
  display: flex;
  background-color: #2c1643;
}

section#whoAreWe div {
  padding: 32px;
}

section#whoAreWe img {
  max-width: 900px;
  width: 100%;
}

@media (max-width: 768px) {
  section#whoAreWe {
    flex-direction: column;
  }
}

section#qualifications {
  padding: 32px;
  background-image: url("../img/why-join-live-coders-background.png");
  background-size: cover;
}

#qualifications .card .icon {
  padding-bottom: 10px;
  border-bottom: 2px solid #9248db;
  width: 80px;
  display: inline-block;
}

#qualifications .card .icon img {
  width: 48px;
}

#qualifications .flex {
  display: flex;
  justify-content: center;
}
