.head {
  background-image: url("../img/home-hero-background.jpg");
  background-size: cover;
  text-align: center;
  padding-bottom: 150px;
}

.head div {
  padding: 32px;
}
.head .btn {
  margin-top: 1.5em;
}
.head h1 {
  padding-top: 150px;
  margin: 0;
}

section#criteria,
section#process,
section#why,
section#faq {
  padding: 32px;
  display: flex;
  background-color: #2c1643;
}

section#criteria div,
section#process div,
section#why div,
section#faq div {
  padding: 40px;
}

@media (max-width: 768px) {
  section#criteria,
  section#process,
  section#why,
  section#faq {
    flex-direction: column;
  }
}

section#why,
section#criteria {
  background-image: url("../img/why-join-live-coders-background.jpg");
  background-size: cover;
}

#process .card .icon {
  padding-bottom: 10px;
  border-bottom: 2px solid #9248db;
  width: 80px;
  display: inline-block;
}

#process .card .icon img {
  width: 48px;
}

#process .flex {
  display: flex;
  justify-content: center;
}
.listings li {
  padding: 0.25em 0;
}
