footer {
  margin-top: 64px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}

footer div.footerLogo {
  flex: 1;
}

footer div.footerLogo img {
  width: 100px;
}

footer div.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 800;
}

footer div.navigation div {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
footer div.navigation div a {
  width: 32px;
  height: 32px;
  color: white;
}

footer div.navigation div a {
  margin-right: 20px;
}

footer div.navigation div a:last-child {
  margin-right: 0;
  padding-top: 2px;
}
