#membersHeader {
  background-image: url("../img/team-members-hero-background.png");
  background-size: cover;
}

#membersHeader h1 {
  padding: 0 32px;
}
#membersHeader p {
  padding: 0 32px;
}
#membersHeader .btn {
  margin-left: 32px;
  margin-bottom: 64px;
}

#membersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 10px;
  gap: 20px;
}

.member {
  border: 6px solid white;
  border-radius: 8px;
  background-image: url("../img/card-background.png");
  background-size: cover;
}

.member img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.member a.memberName {
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

.member a.memberName h2 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
}

.member .tags ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 48px;
}

.member .tags ul li {
  color: white;
  background-color: #2c1643;
  margin: 0 10px;
  padding: 0px 3px;
}

.member .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 24px;
}

.member .socials img {
  width: 24px;
}

.member .socials a:not(:last-child) {
  margin-right: 20px;
}
