#membersHeader {
  background-image: url("../img/team-members-hero-background.jpg");
  background-size: cover;
}

#membersHeader div {
  margin: 32px;
  padding-bottom: 0;
  margin-bottom: 64px;
}

#membersHeader h1 {
  margin: 0;
}

#membersHeader .filterInput {
  display: block;
  width: 100%;
  height: 48px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  box-sizing: border-box;
}

#membersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 32px;
  gap: 16px;
}

.member {
  border: 5px solid white;
  border-radius: 8px;
  background-image: url("../img/card-background.jpg");
  background-size: cover;
  overflow-x: hidden;
}

.member a.member-image {
  position: relative;
  display: block;
}
.member .gatsby-image-wrapper img {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100.86% 87.99%,
    68.03% 97.7%,
    -0.86% 82.25%
  );
}

.member .inner-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 5px;
  background-image: url("../img/innerglow.svg");
  background-size: cover;
  background-position: center bottom;
}
.member .inner-glow-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("../img/innerglow-top.svg");
  background-size: cover;
  background-position: center top;
}

.member a.memberName {
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

.member a.memberName h2 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  font-size: 16px;
}

.member .tags ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 48px;
  margin: 20px 16px 48px 16px;
}

.member .tags ul li {
  color: white;
  background-color: #492472;
  margin: 5px 5px;
  padding: 3px 4px;
  border-radius: 3px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
}

.member .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 24px;
}

.member .socials img {
  width: 24px;
  filter: invert(50%) sepia(87%) saturate(1477%) hue-rotate(230deg)
    brightness(95%) contrast(98%);
}

.member .socials a:not(:last-child) {
  margin-right: 20px;
}
