nav {
  flex-grow: 1;
}

header nav {
  border-bottom: 1px solid white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul li {
  margin-right: 20px;
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  nav ul li:last-of-type {
    margin-right: 0;
  }
}
