nav ul {
  display: flex;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul li {
  margin-right: 20px;
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
