.head {
  background-image: url("../img/about-team-heo-background.jpg");
  background-size: cover;
}

.head div {
  padding: 32px;
}

.head h1 {
  margin: 0;
}

section#mascots
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}


section#whoAreWe {
  display: flex;
  background-color: #2c1643;
}

section#whoAreWe div {
  padding: 32px;
}

section#whoAreWe img {
  max-width: 900px;
  width: 100%;
}

.mascotSingle {
  float: left;
  width: 350px;
  height: 350px;
}

@media (max-width: 768px) {
  section#whoAreWe {
    flex-direction: column;
  }
}

section#qualifications {
  padding: 32px;
  background-image: url("../img/why-join-live-coders-background.jpg");
  background-size: cover;
}

#qualifications .card .icon {
  padding-bottom: 10px;
  border-bottom: 2px solid #9248db;
  width: 80px;
  display: inline-block;
}

#qualifications .card .icon img {
  width: 48px;
}

#qualifications .flex {
  display: flex;
  justify-content: center;
}
